<!-- 
	This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.

	Author: Katreen Kyle M. Hernandez

	Code History:
		Programmer				Change Date			Change Description
    Robert Cabasag			03/04/19			temporary interface
    Katreen Hernandez   03/06/19      add fixed menu, containers
	
	Creation Date: 03/04/2019
	Development Group: Team consisting of Robert Cabasag, Jose Maria Ibardaloza, and Kat Hernandez
	Client Group: Students meaning to have a sense of mindfulness
	
	This file contains html for the add mood interface.
 -->

{% extends 'base.html' %}

{% block title %} Activity Page {% endblock %}

{% block content %}
<!-- fixed menu -->
<div class="ui fixed huge menu">
  <div class="ui container">
    <a href="/" class="header item">
      <div class="mood0">Mood</div>
    </a>
    <a href="/" class="item">Home</a>
    <a href="/maintainmood" class="item">Moods</a>
    <a href="/maintainactivity" class="active item">Activities</a>
    <div class="right menu">
      <a href="{% url 'logout' %}" class="item">Logout</a>
    </div>
  </div>
</div>

<div class="ui main text container">
  {% if activity %}
  <div class="ui container segment" style="padding: 20px 25px 30px 25px">
    {% regroup activity by date_posted as activitylist %}
    {% for act in activitylist reversed %}
      <h1>On {{act.grouper}}, you have done...</h1>
      <div class="ui three cards">
        {% for item in act.list %}
        <!-- activity card per entry -->
        <div class="card">
          <div class="content">
            <div class="header">{{item.text}}</div>
            <div class="meta">{{item.date_posted}}, {{item.time_posted}}</div>
          </div>
          <a onclick="openModal('{{item.id}}')">
            <div class="ui bottom attached button">
              <i class="close icon"></i>
              delete mood
            </div>
          </a>
        </div>

        <!-- modal for deletion -->
        <div id="{{item.id}}" class="modal">
          <div class="modal-content">
            <p>Are you sure you want to delete selected entry?</p>
            <div style="margin:20px 0px 30px 0px;">
              <div class="ui centered card">
                <div class="content" style="text-align:left;">
                  <div class="header">{{item.text}}</div>
                  <div class="meta">{{item.date_posted}}, {{item.time_posted}}</div>
                </div>
              </div>
            </div>
            <a class="ui button" onclick="closeModal('{{item.id}}')">no, go back</a>
            <a href="{{item.id}}/delete" class="ui button" id="pinkbtn">
              yes, delete it
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <!-- multiple mood/activity input segment -->
  <div class="ui center aligned container segment" style="padding:20px 25px 25px 25px;">
    <p>Got more to add?</p>
    <a class="ui large button" id="pinkbtn" href = "{% url 'addmood' %}">input mood</a>
    <a class="ui large button" id="bluebtn" href = "{% url 'addactivity' %}">input activity</a>
  </div>

  {% else %}
  <!-- no activity entries to display segment -->
  <div class="ui center aligned container segment" style="padding:20px 25px 25px 25px;">
    <p>You haven't registered anything.</p>
    <a class="ui large button" id="pinkbtn" href = "{% url 'addmood' %}">input mood</a>
    <a class="ui large button" id="bluebtn" href = "{% url 'addactivity' %}">input activity</a>
  </div>
  {% endif %}
</div>

<script>
  // When the user clicks the delete button, open deletion confirmation modal
  function openModal(modalName) {
    document.getElementById(modalName).style.display = "block";
  }
  
  // When the user clicks 'back', exit modal
  function closeModal(modalName) {
    document.getElementById(modalName).style.display = "none";
  }
</script>

{% endblock %}