<!--
  This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.

  Author: Katreen Kyle M. Hernandez

  Code History:
  Programmer				      Change Date			  Change Description
  Jose Maria Ibardaloza   created file      created file
  Katreen Hernandez       03/21/19          add date and time stamps
  Katreen Hernandez       04/05/19          update links in navbar 

  Creation Date: 03/18/2019
  Development Group: Team consisting of Robert Cabasag, Jose Maria Ibardaloza, and Kat Hernandez
  Client Group: Students meaning to have a sense of mindfulness

  This file contains html for the add mood interface.
 -->

{% extends 'base.html' %}

{% block title %} Activity Page {% endblock %}

{% block content %}
<!-- fixed menu -->
<div class="ui fixed huge menu">
  <div class="ui container">
    <a href="#" class="header item">
      <div class="mood0">Mood</div>
    </a>
    <a href="#" class="item">Home</a>
    <a href="/maintainmood" class="item">Moods</a>
    <a href="/maintainactivity" class="active item">Activities</a>
    <div class="right menu">
      <a href="/maintainmood/moodstats" class="item">Mood Stats</a>
      <a href="/maintainactivity/activitystats" class="item">Activity Stats</a>
      <a href="{% url 'logout' %}" class="item">Logout</a>
    </div>
  </div>
</div>

<div class="ui main text container">
  <form method="POST">
    {% csrf_token %}
    <div class="ui container attached segment" style="padding 20px 25px 30px 25px;">
      <h1 style="margin-bottom: 10px;">Update Activity:</h1>
      <div class="ui form" style="margin-bottom: 15px;">
        <div class="field">
          <div class="label">from {{activity.date_posted}}, {{activity.time_posted}}</div>
          <textarea rows="2" name="activityinput" placeholder="Activity details...">{{activity.text}}</textarea>
        </div>
      </div>
    </div>
    <div class="ui two bottom attached buttons">
        <a class="ui button" id="bluebtn" href="/maintainactivity">disregard changes</a>
        <button class="ui button" id="pinkbtn" type="submit">update</button>
    </div>
  </form>
</div>


{% endblock %}
