<!-- 
	This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.

	Author: Robert Cabasag

	Code History:
		Programmer				Change Date			Change Description
		Robert Cabasag			02/20/19			temporary interface
	
	Creation Date: 02/20/2019
	Development Group: Team consisting of Robert Cabasag, Jose Maria Ibardaloza, and Kat Hernandez
	Client Group: Students meaning to have a sense of mindfulness
	
	This file contains html for the add status interface. Currently, it is not used.
 -->

{% extends 'base.html' %}

{% block title %} Mood Status {% endblock %}

{% block content %}

<div class = "ui container segment">
	<form class = "ui form" method = "POST">
		{% csrf_token %}
		<div class="ui input">
  			<input type="text" name = 'moodinput' placeholder="I'm feeling..." >
		</div>
		<div class="ui input">
  			<input type="text" name = 'statusinput' placeholder="I felt that way because..." >
		</div>
		<button class="ui button" type="submit">Submit</button>		
	</form>
</div>
<a href = "{% url 'logout' %}"> Logout </a>


{% endblock %}