{% extends 'base.html' %}

{% block title %} Mood. {% endblock %}

{% block content %}

<div class = "ui container segment">
	<h4> Today you have been, </h4>
	{% if mood %}
		{% for m in mood %}
			<p> {{m.mood}} </p>
		{% endfor %}
	{% else %}
		<p> empty. </p>
	{% endif %}
	<h4> Status: </h4>
	{% if status %}
		{% for s in status %}
			<p> {{s.text}} </p>
		{% endfor %}
	{% else %}
		<p> empty. </p>
	{% endif %}
</div>
<div class = "ui container segment">	
	<h4> Tell us how you feel </h4>
	<a href="{% url 'addmood' %}"> 
		<button class="ui button">
 			 Add Mood
		</button>
	</a>
</div>
<a href = "{% url 'logout' %}"> Logout </a>


{% endblock %}