{% extends 'base.html' %}

{% block title %} Mood. {% endblock %}

{% block content %}

<div class = "ui container segment">
	<h4> Today you have been, </h4>
	{% if mood %}
		{% for m in mood %}
			<div>{{m.mood}} | {{m.status}}</div>
			<a href="{{m.id}}/delete">Delete mood</a>
		{% endfor %}
	{% else %}
		<p> empty. </p>
	{% endif %}
</div>
<div class = "ui container segment">
	<h4>
		Tell us how you feel ^_^ uwu
		<a href="{% url 'addmood' %}">
			<button class="ui button">
	 			 Add Mood
			</button>
		</a>
	</h4>
</div>
<a href = "{% url 'logout' %}"> Logout </a>


{% endblock %}
